{% extends '../base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block css %}
{% endblock %}
{% block content %}  
<main id="content" role="main">
    <!-- Hero Section-->
    <div class="bg-img-center bg-dark" style="background-image: url({{our_aim_obj.index_page_image.url}});">
        <div class="container content-space-2 content-space-lg-3">
        <div class="w-md-65 w-lg-35">
            <div class="mb-4">
            <h2 class="h1 text-white">Wear your pride</h2>
            <p class="text-white">Outdo the sun and refresh your workout with greys, whites and dark brights.</p>
            </div>
            <a class="btn btn-light btn-transition rounded-pill" href="#">Shop the collection</a>
        </div>
        </div>
    </div>
  <!-- End Hero Section -->
    
    <!-- Article Description -->
    <div class="container content-space-t-3 content-space-t-lg-3 content-space-b-2">
      <div class="w-lg-65 mx-lg-auto">
        <div class="mb-4">
          <h1 class="h2">{{event.title}}</h1>
        </div>
      </div>

      <div class="w-lg-65 mx-lg-auto content-space-t-1">
           {{ event.description|safe}}
      </div>
    </div>
    <!-- End Article Description -->

  </main>

{% endblock %}
{% block js %}
<script>
    (function() {
        // INITIALIZATION OF HEADER
        // =======================================================
        new HSHeader('#header').init()


        // INITIALIZATION OF MEGA MENU
        // =======================================================
        new HSMegaMenu('.js-mega-menu', {
            desktop: {
                position: 'left'
            }
        })


        // INITIALIZATION OF SHOW ANIMATIONS
        // =======================================================
        new HSShowAnimation('.js-animation-link')


        // INITIALIZATION OF BOOTSTRAP VALIDATION
        // =======================================================
        HSBsValidation.init('.js-validate', {
            onSubmit: data => {
                data.event.preventDefault()
                alert('Submited')
            }
        })


        // INITIALIZATION OF BOOTSTRAP DROPDOWN
        // =======================================================
        HSBsDropdown.init()


        // INITIALIZATION OF GO TO
        // =======================================================
        new HSGoTo('.js-go-to')
    })()
</script>
{% endblock %}