<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col" text-align="center">
            <h1>Dikkha Career Path</h1>
            <h3 style="color:red">Account Does Not Exist Or This link is expired</h3>
            <div>
               <p>Go Back To <a href="{% url 'accounts:signup' %}">Sign Up</a> Page</p>
                <p><a href="{% url 'core:home' %}">Home</a></p>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>
