.field-strategy_item_inline{
    display:block;
}

.field-strategy_item_inline label{
    display: none !important;
}

.field-strategy_item_inline .readonly{
      margin-left: 0 !important;
}

.field-aim_item_inline{
    display:block;
}

.field-aim_item_inline label{
    display: none !important;
}

.field-aim_item_inline .readonly{
    margin-left: 0 !important;
}

.field-target_item_inline{
    display:block;
}

.field-target_item_inline label{
    display: none !important;
}

.field-target_item_inline .readonly{
    margin-left: 0 !important;
}

.field-what_we_do_item_inline{
    display:block;
}

.field-what_we_do_item_inline label{
    display: none !important;
}

.field-what_we_do_item_inline .readonly{
    margin-left: 0 !important;
}


