{% extends '../base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block css %}
<style>
    .bg-dark {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important
}
    @media screen and (max-width: 750px) {
    .hero-section {
        /* display: none; */
    background-image: none !important;
    /* background-color:aliceblue; */
  }
}
@media screen and (min-width: 750px) {
     .course-name{
        color: white;
     }
     .course-title-intro{
        color: white;
     }

}
</style>
{% endblock %}
{% block content %}

<!-- ========== MAIN CONTENT ========== -->
<main id="content" role="main">
    
    <div class="position-relative content-space-t-2 content-space-t-md-0">
        <!-- Hero -->
        <!-- gradient-y-overlay-lg-white -->
        <div class="hero-section bg-img-start content-space-2 content-space-md-3" style="background-image: url({{course.image_thumbnail.url}});">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-lg-8">
                        <!-- <h5 class="text-dark">{{course.name}}</h5> -->
                        <h1 class="course-name">{{course.name}}</h1>
                        <div class="course-title-intro mt-1">
                           {{course.title_intro|safe}}
                        </div>
                    </div>
                    <!-- End Col -->
                </div>
                <!-- End Row -->
            </div>
        </div>
        <!-- End Hero -->

        <!-- Sidebar -->
        <div class="container content-space-t-md-2 content-space-t-md-3 content position-md-absolute top-0 start-0 end-0">
            <div class="row justify-content-end">
                <div class="col-md-5 col-lg-4 position-relative zi-2 mb-7 mb-md-0">
                    <!-- Sticky Block -->
                    <div id="stickyBlockStartPoint">
                        <div class="js-sticky-block" data-hs-sticky-block-options='{
                    "parentSelector": "#stickyBlockStartPoint",
                    "breakpoint": "md",
                    "startPoint": "#stickyBlockStartPoint",
                    "endPoint": "#stickyBlockEndPoint",
                    "stickyOffsetTop": 12,
                    "stickyOffsetBottom": 12
                }'>
                            <!-- Card -->
                            <div class="card">
                                <div class="p-1">
                                    <!-- Fancybox -->
                                    
                                    <div class="bg-img-start text-center rounded-2 py-10 px-5" style="background-image: url({{course.image_thumbnail.url}}); background-color: black;">
                                        {% if course.preview_video_url %}
                                        <a class="video-player video-player-btn" href="{{course.preview_video_url}}" role="button" data-fslightbox="youtube-video">
                                        <span class="d-flex justify-content-center align-items-center">
                                            <span class="video-player-icon shadow-sm">
                                            <i class="bi-play-fill"></i>
                                            </span>
                                        </span>
                                        <span class="text-white">Preview this course</span>
                                        </a>
                                        {% endif %}
                                    </div>
                                    <!-- End Fancybox -->
                                </div>

                                <!-- Card Body -->
                                <div class="card-body">

                                    <h4 class="card-title">This course includes</h4>

                                    <ul class="list-unstyled list-py-1">
                                        <li><i class="bi-camera-video nav-icon me-2"></i>{{course.total_duration}} off line classes</li>
                                        <li><i class="bi-file-text nav-icon me-2"></i>{{course.number_of_lectures}} lectures</li>
                                        <li><i class="bi-award nav-icon me-2"></i> Certificate of Completion</li>
                                    </ul>
                                </div>
                                <!-- End Card Body -->
                            </div>
                            <!-- End Card -->
                        </div>
                    </div>
                    <!-- End Sticky Block -->
                </div>
            </div>
        </div>
        <!-- End Sidebar -->
    </div>

    <!-- Content -->
    <div class="container content-space-t-2 content-space-t-md-1">
        <div class="row">
            <div class="col-md-7 col-lg-8">
                <h3 class="mb-4">What you'll learn:</h3>

                <div class="row">
                    <div class="col-lg-6">
                        <!-- List Checked -->
                        <ul class="list-checked list-checked-primary">
                            {% for item in course.learning_item.all %}
                               {% if not forloop.counter|divisibleby:2 %}
                               <li class="list-checked-item">{{item.point}}</li>
                               {% endif %}
                            {% endfor %}
                            <!-- <li class="list-checked-item">Create games with Python, like Tic Tac Toe and Blackjack!</li>
                            <li class="list-checked-item">Learn advanced Python features, like the collections module and how to work with timestamps!</li>
                            <li class="list-checked-item">Learn to use Object Oriented Programming with classes!</li> -->
                        </ul>
                        <!-- End List Checked -->
                    </div>
                    <!-- End Col -->

                    <div class="col-lg-6">
                        <!-- List Checked -->
                        <ul class="list-checked list-checked-primary">
                            {% for item in course.learning_item.all %}
                               {% if forloop.counter|divisibleby:2 %}
                               <li class="list-checked-item">{{item.point}}</li>
                               {% endif %}
                            {% endfor %}
                            <!-- <li class="list-checked-item">Understand complex topics, like decorators.</li>
                            <li class="list-checked-item">Understand how to use both the Jupyter Notebook and create .py files</li>
                            <li class="list-checked-item">Get an understanding of how to create GUIs in the Jupyter Notebook system!</li>
                            <li class="list-checked-item">Build a complete understanding of Python from the ground up!</li> -->
                        </ul>
                        <!-- End List Checked -->
                    </div>
                    <!-- End Col -->
                </div>
                <!-- End Row -->

                <!-- Accordion -->
                <div class="border-top pt-7 mt-7">
                    <div class="row mb-4">
                        <div class="col-7">
                            <h3 class="mb-0">Course content</h3>
                        </div>
                        <!-- End Col -->

                        <div class="col-5 text-end">
                            <div class="row">
                                <div class="col-lg-6">
                                    <span class="small">{{course.number_of_lectures}} lectures</span>
                                </div>
                                <!-- End Col -->

                                <div class="col-lg-6">
                                    <span class="small">{{course.total_duration}}</span>
                                </div>
                                <!-- End Col -->
                            </div>
                            <!-- End Row -->
                        </div>
                        <!-- End Col -->
                    </div>
                    <!-- End Row -->
                    
                    <!-- End Course lectures list -->
                    <div class="list-group">
                        {% for chapter in course.course_chapter.all %}
                        <div class="list-group-item">
                            <div class="row">
                                <div class="col-10">
                                    <div class="d-flex" href="#">
                                        <div class="flex-shrink-0 me-1">
                                            <i class="bi bi-file-earmark-plus-fill small text-success"></i>
                                        </div>
                                        <div class="lecture-title flex-grow-1 ms-2">
                                            {{chapter.chapter_name}}
                                        </div>
                                    </div>
                                </div>
                                <!-- End Col -->
                            </div>
                            <!-- End Row -->
                        </div>
                        {% endfor %}
                    </div>
                    <!-- End Course lectures list -->
                </div>
                <!-- End Accordion -->

                <!-- Content -->
                <div class="border-top pt-7 mt-7">
                    <div class="mb-4">
                        <h3>Description</h3>
                    </div>
                    <div>
                        {{course.description|safe}}
                    </div>
                </div>
                <!-- End Content -->

                <hr class="my-7">

            </div>
        </div>
    </div>
    <!-- End Content -->

    <!-- Sticky Block End Point -->
    <div id="stickyBlockEndPoint"></div>

</main>
<!-- ========== END MAIN CONTENT ========== -->

{% endblock %}
   

    
{% block js %}

<script>
const header = document.getElementById('header');

function checkWidth() {
  if (window.innerWidth < 770) {
    console.log(window.innerWidth);
    // header.classList.remove("background1");
    header.classList.add("bg-dark");
  } else {
    // container.classList.add("background1");
    header.classList.remove("bg-dark");
  }
}


document.onload = checkWidth;
window.onresize = checkWidth;
</script>
      <!-- JS Plugins Init. -->
    <script>
        (function() {
            // INITIALIZATION OF HEADER
            // =======================================================
            new HSHeader('#header').init()


            // INITIALIZATION OF MEGA MENU
            // =======================================================
            new HSMegaMenu('.js-mega-menu', {
                desktop: {
                    position: 'left'
                }
            })


            // INITIALIZATION OF BOOTSTRAP DROPDOWN
            // =======================================================
            HSBsDropdown.init()


            // INITIALIZATION OF GO TO
            // =======================================================
            new HSGoTo('.js-go-to')


            // INITIALIZATION OF STICKY BLOCKS
            // =======================================================
            new HSStickyBlock('.js-sticky-block', {
                targetSelector: document.getElementById('header').classList.contains('navbar-fixed') ? '#header' : null
            })
        })()
    </script>
    {% endblock %}
    
